<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <% link_to "Forgot your password?", new_password_path(resource_name) %>
<% end -%>
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= button_to t("devise.form.forgot_password"), new_password_path(resource_name), class: "btn btn-default submit" %>
<% end -%>
