<!-- row -->
<h3><%= t('menu.forms')%> - <%= t('models.specialities') %></h3>
<div class="clearfix"></div>

<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @specialities.each do |speciality| %>
      <tr>
        <td><%= speciality.name %></td>
        <td>
          <%= link_to 'Editar', edit_speciality_path(speciality), class: 'btn btn-sm btn-info' %>
          <%= link_to 'Apagar', speciality, method: :delete, data: { confirm: 'Deseja confirmar esta ação?' }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Criar Especialidade', new_speciality_path, class: 'btn btn-primary' %>
