<!-- top navigation -->
<div class="top_nav">

  <div class="nav_menu">
    <nav class="" role="navigation">
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <%= current_user.name %>
            <span class=" fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li><%= link_to t('menu.top.profile'), edit_user_registration_path %>
            </li>
            <li>
            <%= link_to destroy_user_session_path, :method => :delete do |l| %>
              <%= content_tag(:i, '', class: "fa fa-sign-out pull-right") %>
              <%= t('menu.top.logout') %>
            <% end -%>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>

</div>
<!-- /top navigation -->
