<p id="notice"><%= notice %></p>

<h1>Listing Session Packages</h1>

<table>
  <thead>
    <tr>
      <th>Start at</th>
      <th>Session package type</th>
      <th>User</th>
      <th>Speciality</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @session_packages.each do |session_package| %>
      <tr>
        <td><%= session_package.start_at %></td>
        <td><%= session_package.session_package_type %></td>
        <td><%= session_package.user %></td>
        <td><%= session_package.speciality %></td>
        <td><%= link_to 'Show', session_package %></td>
        <td><%= link_to 'Edit', edit_session_package_path(session_package) %></td>
        <td><%= link_to 'Destroy', session_package, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session package', new_session_package_path %>
