<%= form_for(@pathology) do |f| %>
  <% if @pathology.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pathology.errors.count, "error") %> prohibited this pathology from being saved:</h2>

      <ul>
      <% @pathology.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :speciality_id %><br>
    <%= f.text_field :speciality_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
