<p id="notice"><%= notice %></p>

<h1>Listing Pathologies</h1>

<table>
  <thead>
    <tr>
      <th>Speciality</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pathologies.each do |pathology| %>
      <tr>
        <td><%= pathology.speciality %></td>
        <td><%= pathology.name %></td>
        <td><%= link_to 'Show', pathology %></td>
        <td><%= link_to 'Edit', edit_pathology_path(pathology) %></td>
        <td><%= link_to 'Destroy', pathology, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pathology', new_pathology_path %>
