<p id="notice"><%= notice %></p>

<p>
  <strong>Speciality:</strong>
  <%= @pathology.speciality %>
</p>

<p>
  <strong>Name:</strong>
  <%= @pathology.name %>
</p>

<%= link_to 'Edit', edit_pathology_path(@pathology) %> |
<%= link_to 'Back', pathologies_path %>
