<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
  <div class="tile-stats">
    <div class="icon"><i class="fa fa-caret-square-o-right"></i>
    </div>
    <div class="count"><%= speciality.number_of_session_packages_at_date(current_date) %></div>

    <h3><%= speciality.name %></h3>
    <p><%= link_to t(:sell_all), speciality_path(speciality) %></p>
  </div>
</div>
