<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= t(:system_name) %> </title>

  <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'login', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'custom-login', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body style="background:#F7F7F7;">

  <div class="">
    <%= yield %>
  </div>

</body>

</html>
